body {
    position: relative;
    width: 100%;
    background: #102229; 
}

html {
    scrollbar-width: .8vw;
    scrollbar-color: #444 #212529
}

::-webkit-scrollbar {
    width: .8vw;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #3e4142;
}

::-webkit-scrollbar-track {
    background-color: #212c30;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 6px;
    background-color: #5a5353c5;
}

textarea {
    resize: none;
}

.rojo {
    color: red;
}

.m1,
.m2 {
    width: 5.5em;
    font-weight: 600;
}

.m1 {
    margin-right: 15px;
    color: #fff;
}

.m2 {
    margin-right: 10px;
    background-color: #ddd;
    border-color: #ddd;
    color: inherit;
}

.perfil-1 {
    font-size: 1rem;
}

.perfil-2 {
    text-align: right;
    width: auto;
    padding: .5em 1em;
}

.container-principal {
    background-color: #ebebf5;
    width: 100%;
}

.mymargen {
    margin-top: 65px;
}

.mypadding {
    margin-right: 10px;
}

.otropadd1 {
    padding: 8px 25px;
}

.opacidad {
    opacity: 0.6;
}

.texto {
    font-size: 1.2rem;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: block;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;  
}

/*  */
.container {
    margin-top: 0px;
}

.cartas {
    margin-bottom: 20px;
}

.cartas,
.carousel,
.carrusel-item {
    height: 10rem;
}

.cartas {
    position:relative;
    z-index: 10;
}

.sin-padding {
    padding-bottom: 3rem;
}

.fondo-texto {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
}

.altura {
    height: 28px;
}

.linea-margen {
    margin-top: 18px;
}

.mi-overflow {
    overflow: hidden;
    background-color: rgba(35, 35, 35, 0.854);
}

.titulo {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #fff;
    padding: 15px 19px 17px;
	border-radius: 15px;
	border-bottom: 1px solid #e5e5e5;
    box-shadow: inset 0 0 3px;
}

.carta {
    position: relative;
    display: flex;
    align-items:flex-start;
    padding: 1em;
    margin-bottom: 1.8em;
    background-color: #fff;
    border-radius: 15px;
    flex-wrap: wrap;
    box-shadow: inset 0 0 2px;
}

.carta__image {
  width: 250px;
  border-radius: 7px;
}

.carta__info {
  margin-left: .8em;
}

.carta__title {
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
}

.carta__link-title {
    color: #000;
    text-decoration: none;
}

.carta__text,
.carta__text_smal {
    color: #000;
    font-weight: normal;
}

.carta__text {
    margin-bottom: .3em;
    line-height: 1.5em;
    opacity: .9;
}

.carta__text_small{
    margin-bottom: 1em;
    opacity: 0.5;
}

.boton {
    min-width: 120px;
    padding: 10px 30px;
    background-color: #112229;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    transition-duration: .7s;
}

.boton__text {
    font-weight: 600;
}

.boton--more {
    position: absolute;
    bottom: -15px;
    right: 15px;
}

.boton__icon {
    margin-left: 1.2em;
}

.boton--more:hover {
    color: #fff;
    box-shadow: 3px 6px 10px rgba(96, 96, 159, 0.3);
    transform: translate(-5px) scale(1.08);
    transition-duration: .4s;
}

.boton-pc {
    --bs-btn-padding-y: .15rem;
    --bs-btn-padding-x: .5rem; 
    --bs-btn-font-size: .75rem; 
    width: 4.1rem;
    background-color: #171a21; 
    color: #fff
}

.boton-xbox {
    --bs-btn-padding-y: .15rem;
    --bs-btn-padding-x: .5rem; 
    --bs-btn-font-size: .75rem; 
    width: 4.1rem;
    background-color: #107C10; 
    color: #fff
}

.boton-ps {
    --bs-btn-padding-y: .15rem;
    --bs-btn-padding-x: .5rem; 
    --bs-btn-font-size: .75rem; 
    width: 4.1rem;
    background-color: #0070D1; 
    color: #fff
}

.boton-nintendo {
    --bs-btn-padding-y: .15rem;
    --bs-btn-padding-x: .5rem; 
    --bs-btn-font-size: .75rem; 
    width: 4.1rem;
    background-color: #dd2020; 
    color: #fff
}

.myfieldset {
    width: 50vw;
    background-color: #fdfdfd;
    padding: 15px 19px 17px;
	border-radius: 15px;
	border-bottom: 1px solid #e5e5e5;
    box-shadow: inset 0 0 3px;
}

.gris {
    background-color: #f0f0f0;
}

.tamanio {
    margin-left: 8vw;
    font-style: italic;
    font-weight: 600;
    font-size: 1.1rem;
    font-size: 1.1rem;
    margin-bottom: 1;

}

.contenedor-botones {
    width: 100%;
    text-align: center;
}

.btn-formulario {
    width: 15.1vw;
    padding: 6px;
    font-weight: 700;
    margin-left: 10px;
}

#botonUp {
    display: none;
    position: fixed;
    bottom: 2vh;
    right: 1.5vw;
    z-index: 10;
    width: 60px;
    height: 60px;
    background-color: #4d5052; 
    color: white; 
    cursor: pointer; 
    border-radius: 50%; 
    font-size: 20px; 
    border: 4px solid transparent;
}

#botonUp:hover {
    transform: scale(1.1);
    border-color: rgba(33, 134, 141, 0.1);
}

@media (min-width: 801px){
    .mycolor {
        background-color: #212529;
        border: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

@media (max-width: 1140px) {
    #botonUp {
        bottom: 1.2rem;
        right: 1.2rem;
        width: 3.7em;
        height: 3.7em;
        font-size: 16px; 
    }

    .titulo {
        width: auto;
    }

    .myfieldset {
        width: auto;
        padding: 15px 19px 17px;
        margin-bottom: 1px;
    }

    form {
        width: auto;
    }

    .otropadd1 {
        padding: 0;
    }

    .otropadd2 {
        width: auto;
        padding: 15px 19px 17px;
        margin-bottom: 1px;
    }

    .btn-formulario {
        width: auto;
    }

    .texto {
        font-size: 1rem;
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .card {
        margin-right: auto;
        margin-left: auto;
    }

    .fondo-texto {
        position: relative;
        z-index: 20;
    }

    .carta {
      flex-direction: column;
    }

    .carta__info {
        margin-left: 0;
    }

    .carta__thumbnail {
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    .carta__image {
        width: 450px;
    }
}

@media (max-width: 767px) {
    .tamanio {
        margin-left: 1vw;
        font-weight:400;
        font-size: 1.1rem;
    }
}